body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    background-color: lightgray;
}


#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
    
#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    width: 400px;
    margin: 0 auto;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://thumbs.dreamstime.com/z/happy-birthday-card-birthday-gift-box-background-eps-happy-birthday-card-birthday-gift-box-background-132064283.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/3ohhwmQ0xIg8W3pHd6/giphy.gif");
    background-size: cover;
}

#gift-img-hot:hover {
    background-image: url("https://media0.giphy.com/media/5X6bqnIooLkCoQsN4O/giphy.gif?cid=ecf05e47qdcjtq151uj0xtpwa1e0m44djar6eq9jxu1wzu33&rid=giphy.gif&ct=g");
    background-size: cover;
}

#gift-img-genius:hover {
    background-image: url("https://media1.giphy.com/media/6eyXkeCYdyv1Ot98z6/200.webp?cid=ecf05e473hxtqx04h27i8jt8mjvr5r9z3b9zi3xtjsvbj8ft&rid=200.webp&ct=g");
    background-size: cover;
}


#gift-img-badass:hover {
    background-image: url("https://media0.giphy.com/media/XLpNSIhPbBTbhPcH5b/200w.webp?cid=ecf05e47e67lco9znbbec5hyo6rmq17wvepe634zfk0psehw&rid=200w.webp&ct=g");
    background-size: cover;
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url("https://media2.giphy.com/media/BPJmthQ3YRwD6QqcVD/200w.webp?cid=ecf05e4768qcfbzk9umoxw5wnmdorzld0gpn85xc5h9yjxf1&rid=200w.webp&ct=g");
}


#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}